{% extends "base.njk" %}

{% block content %}
{{ content | safe }}

<p>
    <h3>Recent Changes</h3>
    <ul>
        <li>Um.</li>
        <li>Erm...</li>
        <li>UHHHHHHHHHHH</li>
    </ul>
</p>
<p>
    <a href="https://github.com/errormine/neocities-errormine/commits/main/">See more...</a>
</p>

<p>
    <h3>Journal Entries</h3>
    <ul>
        <li>Journal Entry 1</li>
        <li>Journal Entry 2</li>
        <li>Journal Entry 3</li>
    </ul>
</p>
<p>
    <a href="/journal">Read more...</a>
</p>
{% endblock %}