{% include 'head.njk' %}
<aside class="left">
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/creations">CREATIONS</a>
            </li>
            <li>
                <a href="/journal">JOURNAL</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
        </ul>
    </nav>
</aside>