---
layout: photos.njk
tags:
    - photography
    - post
pagination:
    data: photos
    size: 1
    alias: folder
permalink: "/gallery/photography/{{ folder.name | slugify }}/"
eleventyComputed:
    title: "{{ folder.name }}"
    thumbnail: "{{ folder.thumbnail }}"
---

{%- for photo in folder.photoList -%}
    <figure>
        <img src="{{ photo.url }}" alt="{{ photo.alt }}" />
        <figcaption>
            <p>{{ photo.name }}</p>
        </figcaption>
    </figure>
{%- endfor -%}